<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a [routerLink]="latestUrl[latestUrl.length - 2]" routerLinkActive="active" *ngIf="currentUrl != '/' && currentUrl != '/home'" class="link icon-only">
        <i class="icon icon-back"></i>
      </a>
    </div>
    <div class="center">
      <div class="content-block">
        <div class="row">
          <img src="/favicon.ico" class="icon-navbar">
          {{ title }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pages navbar-through toolbar-through">
  <div class="page">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="toolbar">
  <div class="toolbar-inner">
      <a routerLink="/bonsais" routerLinkActive="active" class="link">
        Catalogue
      </a>
      <a routerLink="/home" routerLinkActive="active" class="link">
        Accueil
      </a>
      <a routerLink="/my" routerLinkActive="active" class="link">
        Mes Bonsais
      </a>
  </div>
</div>
